In [1]:
import pandas as pd
import numpy as np
array1 = np.array([10,20,30])
array2 = np.array([11,12,13])
array3 = np.array([-1,-2,-3,-4])
dFrame4 = pd.DataFrame(array1)
dFrame4

    0
0  10
1  20
2  30

In [3]:
dFrame5 = pd.DataFrame([array1, array3,array2], columns=[ 'A', 'B', 'C', 'D'])
dFrame5

    A   B   C    D
0  10  20  30  NaN
1  -1  -2  -3 -4.0
2  11  12  13  NaN

In [4]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
ResultSheet={
'Arnab': pd.Series([90, 91, 97],index=['Maths','Science','Hindi']),
'Ramit': pd.Series([92, 81, 96],index=['Maths','Science','Hindi']),
'Samridhi': pd.Series([89, 91, 88],index=['Maths','Science','Hindi']),
'Riya': pd.Series([81, 71, 67],index=['Maths','Science','Hindi']),
'Mallika': pd.Series([94, 95, 99],index=['Maths','Science','Hindi'])}
ResultDF = pd.DataFrame(ResultSheet)
ResultDF

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99

In [4]:
ResultDF.loc['English'] = [95, 86, 95, 80,98]
ResultDF

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99
English     95     86        95    80       98

In [14]:
dFrame10Multiples = pd.DataFrame([10,20,30,40,50],index=[3,2,6,7,1])

In [15]:
dFrame10Multiples

    0
3  10
2  20
6  30
7  40
1  50

In [19]:
dFrame10Multiples.loc[6]

0    30
Name: 6, dtype: int64